!!! 5
html(class='no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    meta(name='viewport',content='width=device-width')
    title= project_title
    //- script(src='/js/modernizr.min.js')
    link(rel='stylesheet', href='css/main.css')
  body
    include includes/mixes
    include includes/header
    block content
    include includes/footer

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/main.js')